@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css');

* {
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 0, 0)(05, 32, 32);
}
h1{
    text-align: center;
    
}